<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="/static/admin/layui272/css/layui.css" media="all">
    <script src="/static/admin/jquery/jquery-3.6.0.min.js"></script>
    <style>
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        ::-webkit-scrollbar-track{
            background: #ffffff;
            border-radius: 3px;
        }
        ::-webkit-scrollbar-thumb {
            background: #9ea2a4;
            border-radius: 3px;
        }
    </style>
</head>
<body style=" padding: 20px;"><!--<body style=" padding: 20px;">-->