<style>
    .layui-layout-admin .layui-logo{
        width: 250px !important;
    }
    .header-title{
        color: #fff;
        font-weight: normal;
        font-size: 22px;
    }
</style>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo show-menu" id="show-menu"><h2 class="header-title">{$site_name}</h2></div>
        <!--        <div class="layui-logo"><i class="layui-icon layui-icon-shrink-right"></i></div>-->
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" lay-filter="header-menu" style="display: none;" id="header_menu">
            <!--{:cache('tree')}-->
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a onclick="chat()">在线客服</a>
            </li>
            <li class="layui-nav-item">
                <a href="{:url('/admin/index/index')}">控制台</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                    {$admin_info['admin_name']}
                </a>
                <dl class="layui-nav-child">
                    <dd><a id="update_pwd">修改密码</a></dd>
                    <dd><a href="{:url('login/index')}">退出</a></dd>
                </dl>
            </li>
            <!--            <li class="layui-nav-item"><a href="{:url('login/index')}">退出</a></li>-->
        </ul>
    </div>

    <!--    <div class="layui-side layui-bg-black" id="left_menu" >-->
    <div class=" " id="left_menu" style="margin-top: 60px;">
        <!--        <div class="layui-side-scroll" style="">-->
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <div class="layui-row " id="demo-box" style=" max-width: 200px;">
            <!--                <div class="layui-col-xs9 layui-col-md3">-->
            <div class="">
                <div class="layui-panel">
                    <ul class="layui-menu" id="demo1">
                        <!--                            <li>-->
                        <!--                                <div class="layui-menu-body-title">-->
                        <!--                                    <a href="javascript:void(0);" data-url="/admin/index/index">首页</a>-->
                        <!--                                </div>-->
                        <!--                            </li>-->
                        <!--                            <li class="layui-menu-item-divider"></li>-->
                        <li>
                            <div class="layui-menu-body-title">
                                <a href="{:url('/admin/index/index')}" target="_self">控制台</a>
                            </div>
                        </li>
                        <li class="layui-menu-item-divider"></li>
                        {:cache('tree')}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!--            <ul class="layui-nav layui-nav-tree layui-nav-side"  lay-filter="left-menu">-->

    <!--                &lt;!&ndash;{:cache('tree')}&ndash;&gt;-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 0 5px;" id="content">
            <div class="layui-tab" lay-filter="tabContent"  lay-allowClose="true" id="tabContent">
                <ul class="layui-tab-title">
                    <li class="layui-this">控制台</li>
                    <!--<li>用户基本管理</li>--><!--示例-->
                </ul>
                <div class="layui-tab-content">