{include file="public/page_header" /} <!--头部公共区域-->

<div class="layui-layout layui-layout-admin">
    <form action="" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">权限组名称</label>
            <div class="layui-input-inline">
                <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="radio" name="status" value="1" lay-verify="required" autocomplete="off" title="启用">
                <input type="radio" name="status" value="0" lay-verify="required" autocomplete="off" title="禁用">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo" style="display: none" id="formDemo">立即提交</button>
            </div>
        </div>
    </form>
</div>

{include file="public/page_footer" /} <!--尾部公共区域-->

<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;

    });
</script>

